@charset "utf-8";
/* CSS Document */

/* calendar */
table.calendar		{ background:#fff; border-left:1px solid #999; }
tr.calendar-row	{  }
td.calendar-day	{ min-height:80px; font-size:11px; position:relative; overflow:auto;} * html div.calendar-day { height:80px; overflow:auto }
td.calendar-day:hover	{ background:#eceff5; }
td.calendar-day-np	{ background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
/* shared */
		
div.day-number	 { 
	/*background:#999;*/ 
	position:absolute; 
	z-index:2; 
	top:-5px; 
	right:-25px; 
	padding:2px; 
	color:#999; 
	font-weight:bold; 
	width:25px; 
	text-align:center; 
}
td.calendar-day, td.calendar-day-np { 
	width:120px; 
	padding:5px 25px 5px 5px; 
	border-bottom:1px solid #999; 
	border-right:1px solid #999; 
}

		

